@import "tailwindcss";

@theme {
  /* Variables de thème : Uniquement des définitions ici */
  --color-brand: #16a34a; 
  --color-brand-dark: #15803d;
  
  --color-mustard: #fbbf24; 
  --color-mustard-dark: #d97706;
}

/* 1. STYLES DE BASE POUR ÉLIMINER LE FLASH BLANC */
/* On force le fond vert sur les couches les plus basses du navigateur */
:root {
  background-color: #16a34a;
}


/* 2. STYLES DU CONTENU */
/* Une fois l'application chargée, le fond gris s'applique uniquement au contenu */
main {
  background-color: #f3f4f6; /* bg-gray-100 */
}

/* 3. UTILITAIRES SPÉCIFIQUES */

/* Masquer la barre de défilement mais garder le scroll */
.scrollbar-hide::-webkit-scrollbar { 
  display: none; 
}
.scrollbar-hide { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Zones de sécurité mobiles (encoches iPhone/Android) */
.pt-safe { 
  padding-top: env(safe-area-inset-top); 
}
.pb-safe { 
  padding-bottom: env(safe-area-inset-bottom); 
}