@import "tailwindcss";

@theme {
  --color-brand: #16a34a; 
  --color-brand-dark: #15803d;
  --color-mustard: #fbbf24; 
  --color-mustard-dark: #d97706;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 1. FOND GRIS OBLIGATOIRE */
:root, html {
  background-color: #F8FAFC !important;
  /* On permet le scroll sur le html */
  overflow-y: auto; 
}

body {
  background-color: #F8FAFC !important;
  min-height: 100vh;
  /* CRUCIAL : On réactive l'effet élastique pour permettre le "Pull-to-Refresh" */
  overscroll-behavior-y: auto; 
  -webkit-tap-highlight-color: transparent;
  
  /* Bloquage UX Native */
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

/* Inputs débloqués */
input, textarea {
  -webkit-user-select: text !important;
  user-select: text !important;
  -webkit-touch-callout: default !important;
}

main {
  background-color: #F8FAFC;
}

/* Barre de chargement JAUNE (et non verte) */
#nprogress .bar {
  background: #fbbf24 !important;
  height: 3px !important;
  z-index: 99999 !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #fbbf24, 0 0 5px #fbbf24 !important;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.pt-safe { padding-top: env(safe-area-inset-top); }
.pb-safe { padding-bottom: env(safe-area-inset-bottom); }